<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">{{title}}</li>
      <li><a routerLink="/get-employees">Show Employees</a></li>
      <li><a routerLink="/add-employees">Add Employees</a></li>

    </ul>
  </div>
</div>
<br>
 <router-outlet></router-outlet>



