
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm.value, employeeForm.valid)">

  <div class="grid-container" *ngIf="!submitted">
    <div class="grid-x grid-padding-x">
      <div class="small-3 cell">
        <label for="right-label" class="text-right">First Name</label>
      </div>
      <div class="small-6 cell">
        <input id="firstName" formControlName="firstName" type="text" placeholder="First Name">
        <small [hidden]="employeeForm.controls.firstName.valid || (employeeForm.controls.firstName.pristine)">
          Please ensure that the first name does not exceed a length of 20 and does not include numbers and special characters.
        </small>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="small-3 cell">
        <label for="right-label" class="text-right">Last Name</label>
      </div>
      <div class="small-6 cell">
        <input id="lastName" formControlName="lastName" type="text" placeholder="Last Name">
        <small [hidden]="employeeForm.controls.lastName.valid || (employeeForm.controls.lastName.pristine)">
          Please ensure that the last name does not exceed a length of 20 and does not include numbers and special characters.
        </small>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="small-3 cell">
        <label for="right-label" class="text-right">ID Number</label>
      </div>
      <div class="small-6 cell">
        <input id="idNumber" formControlName="idNumber" type="text" placeholder="ID Number" >
         <small [hidden]="employeeForm.controls.idNumber.valid || (employeeForm.controls.idNumber.pristine)">
          Please ensure that id number is 13 in length and only includes digits
        </small>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="small-3 cell">

      </div>
      <div class="small-6 cell">
        <div class="button-group">
          <button *ngIf="employeeForm.valid" class="button" type="submit">Submit</button>
        </div>
      </div>
    </div>


  </div>
  <div *ngIf="submitted" class="grid-x grid-padding-x">
    <div class="small-3 cell">

    </div>
    <div class="small-6 cell">
      The employee has been added, please click on the "Show Employees" link to view all employees, or click <a (click)="addAnother()">here</a> to add another employee.
    </div>
  </div>
</form>

