<div *ngIf="employeeList.length > 0">
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Identity Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.idNumber}}</td>
        <td><a (click)="fireSomeone(employee.id)">Delete</a> </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="employeeList.length == 0">
  Empty
</div>


